﻿@model List<Discount_city.Models.SubCategory>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@foreach (var item in Model)
{
    <div>
        <h4>SubCategory</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => item.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.CategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Name)
            </dd>

        </dl>
    </div>
}
