﻿@model Discount_city.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shortdescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shortdescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fulldescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fulldescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <!--@Html.DisplayNameFor(model => model.Image)-->
            <img src="@Url.Content(@Model.Image)" height="250" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subcategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subcategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subsubcategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subsubcategory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id2 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
