﻿@model IEnumerable<Discount_city.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Import", "Import")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shortdescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fulldescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subcategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subsubcategory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shortdescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fulldescription)
        </td>
        <td>
            <!--@Html.DisplayFor(modelItem => item.Image)-->
            <img src="@Url.Content(item.Image)" height="75" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subcategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subsubcategory)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id2 }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id2 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id2 })
        </td>
    </tr>
}

</table>
